body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calculator {
  background-color: #ffe6f1; /* Rosa claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 260px; /* Ajustando a largura para ser mais compacta */
}

#display {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #ff66b2; /* Cor rosa para os botões */
  color: white;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #ff3385; /* Cor rosa mais escuro no hover */
}

.buttons button:active {
  background-color: #ff1a6d; /* Cor rosa ainda mais escuro quando pressionado */
}
